<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gizwits.bsh.mapper.DeviceTypeMapper">
  <resultMap id="BaseResultMap" type="com.gizwits.bsh.model.entity.DeviceType">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="plat_id" jdbcType="VARCHAR" property="platId" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="bind_image_uri" jdbcType="VARCHAR" property="bindImageUri" />
    <result column="list_image_uri" jdbcType="VARCHAR" property="listImageUri" />
    <result column="control_image_uri" jdbcType="VARCHAR" property="controlImageUri" />
    <result column="del" jdbcType="INTEGER" property="del" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>


  <select id="selectAllDeviceType" resultType="java.util.Map">
    select type_code as typeCode,type_name as typeName,image_uri as imageUri
    FROM t_device_type
    where del=0
  </select>

  <select id="selectByDeviceCodeAndPlatId" parameterType="com.gizwits.bsh.model.entity.DeviceType" resultType="java.util.Map">
    SELECT type_name as typeName,bind_image_uri as bindImageUri,description as description
    FROM t_device_type
    WHERE type_code=#{typeCode} and plat_id=#{platId} and del=0
  </select>

</mapper>